html,
body {
  height: 100%;
  margin: 0;
}

.icon,
.icon-favorite {
  color: #eb5352;
  cursor: pointer;
}

.pagination-container {
  display: flex;
}

.search-ingredient {
  color: #495057;
}

.select-menu {
  height: 200px;
  width: 98%;
  transform: translate3d(4px, 38px, 0px) !important;
}

.select-menu::-webkit-scrollbar {
  width: 4px;
  background-color: #002b36;
}

.select-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #eb5352;
}

.letter {
  width: 40px;
}

.result-container > .card {
  background-color: #002b36;
  width: 120px;
}

.result-container > .card img {
  width: 120px;
}

.result-container > .card p {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.favor .dropdown-toggle::after {
  content: '';
  display: none;
}

.favor .dropdown-menu {
  min-width: 13rem;
}

.hide {
  display: none;
}

@media only screen and (max-width: 576px) {
  .result-container > .card p {
    font-size: 10px;
  }
}
